@font-face {
    font-family: Arial Narrow;
    src: url('../fonts/arial-narrrow.ttf');
    font-size: medium;
}

* {
    font-family: Arial Narrow !important;
}


.uk-light .uk-slidenav {
    color: rgb(247 247 247);
    background: #fa7f22;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #fa7f22;
}

.uk-navbar-nav>li.uk-active>a {
    font-weight: 550 !important;
    color: rgb(255, 255, 255) !important;
}

.uk-custom-text-white {
    color: white;
}

.uk-navbar-dropdown.uk-open.uk-navbar-dropdown-bottom-left {
    width: 300px;
}

.uk-text-black{
    color: rgb(19, 18, 18);
    font-size: 1.01em !important;
}

.uk-lightbox-toolbar.uk-lightbox-caption.uk-position-bottom.uk-text-center.uk-transition-slide-bottom.uk-transition-opaque{
    font-weight: 600;
}


.uk-lightbox-toolbar.uk-lightbox-caption.uk-position-bottom.uk-text-center.uk-transition-slide-bottom.uk-transition-opaque{
    font-size: large;
}

.uk-offcanvas-bar.uk-offcanvas-bar-animation.uk-offcanvas-slide {
    background-color: #fa7f22;
}

.uk-navbar-toggle {
    color: #fff !important;
}
